.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-alien01_01 {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-alien01_02 {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.sprite-alien02_01 {
    width: 22px;
    height: 16px;
    background-position: -57px -5px;
}

.sprite-alien02_02 {
    width: 22px;
    height: 16px;
    background-position: -89px -5px;
}

.sprite-alien03_01 {
    width: 24px;
    height: 16px;
    background-position: -5px -31px;
}

.sprite-alien03_02 {
    width: 24px;
    height: 16px;
    background-position: -39px -31px;
}

.sprite-bunker_01 {
    width: 44px;
    height: 32px;
    background-position: -73px -31px;
}

.sprite-bunker_02 {
    width: 44px;
    height: 32px;
    background-position: -5px -73px;
}

.sprite-bunker_03 {
    width: 36px;
    height: 32px;
    background-position: -59px -73px;
}

.sprite-bunker_04 {
    width: 44px;
    height: 32px;
    background-position: -127px -5px;
}

.sprite-bunker_05 {
    width: 44px;
    height: 32px;
    background-position: -127px -47px;
}

.sprite-bunker_06 {
    width: 30px;
    height: 16px;
    background-position: -105px -89px;
}

.sprite-cannon {
    width: 26px;
    height: 16px;
    background-position: -145px -89px;
}
