div.content {
	margin: auto;
	width: 390px;
}

header {
	text-align: center;
	padding: 10px;
}

canvas { 
	border: 3px solid grey; 
}

body{
	background-color: green;
}

footer{
	color: white;
	font-family: monospace;
	text-align: center;
}